/* NAVBAR */
body {
  font-family: "Poppins";
}
.primary-color {
  color: #703200;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid #ffa500;
}
.navbar-nav .nav-item {
  margin: 0px 10px 0px 10px;
}

.hero-color {
  color: #ffe500;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.3;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

.carousel-indicators {
  z-index: 3;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px; /* change width */
  height: 10px; /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100%; // /* add border-radius */
}

/* FLOAT BUTTON CHATBOT */
.adminActions {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 99;
}

.adminButton {
  height: 60px;
  width: 60px;
  background-color: #703200;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 99;
}

.adminButton i {
  font-size: 22px;
}

.adminButtons {
  position: absolute;
  width: 100%;
  bottom: 120%;
  text-align: center;
}

.adminButtons a {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  margin: 10px auto 0;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  position: relative;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.3);
}

.adminButtons a:hover {
  transform: scale(1.05);
}

.adminButtons a:nth-child(1) {
  background-color: #ff5722;
  transition: opacity 0.2s ease-in-out 0.3s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(2) {
  background-color: #03a9f4;
  transition: opacity 0.2s ease-in-out 0.25s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(3) {
  background-color: #f44336;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.15s ease-in-out;
}
.adminButtons a:nth-child(4) {
  background-color: #4caf50;
  transition: opacity 0.2s ease-in-out 0.15s, transform 0.15s ease-in-out;
}

.adminActions a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adminToggle {
  -webkit-appearance: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
}

.adminToggle:hover {
  box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  padding: 20px;
}

.slide-container {
  /* max-width: 1300px; */
  width: 100%;
  padding: 0 40px;
  /* margin-top: 30px; */
}
.slide-content {
  /* margin: 0 40px; */
  width: 90%;
  border-radius: 10px;
  /* padding: 20px; */
  margin-bottom: 10px;
}
.sled {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  /* box-shadow: 10px 7px 15px 0 rgba(57, 56, 56, 0.1),
    0 2px 2px 0 rgba(0, 0, 0, 0.1); */
  border: #fff;
  height: 700px;
  z-index: 2;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.card-title {
  font-size: 18px;
  line-height: 1.5;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #703200;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #327a6d;
}
.swiper-navBtn {
  color: #327a6d;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #327a6d;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
  color: #703200;
}
.swiper-button-prev {
  left: 0;
  color: #703200;
}
.swiper-button-prev,
.swiper-button-next .swiper-pagination-bullet {
  color: #327a6d;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.card-unggul {
  color: #5b5b5b;
}

.unggul-card {
  box-shadow: 10px 7px 15px 0 rgba(57, 56, 56, 0.1),
    0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: #703200;
  width: 370px;
  height: 200px !important;
}

.breadcrumb .breadcrumb-item a {
  color: #703200;
  text-decoration: none;
}

.row.used {
  background-image: url("../images/bg-bot.png");
  background-size: cover;
}

.used-card {
  background-color: #eaf8ef;
  box-shadow: 15px 15px 15px 0px rgba(57, 56, 56, 0.1),
    0px 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-color: #eaf8ef;
}

.fitur {
  box-shadow: 15px 15px 15px 0px rgba(57, 56, 56, 0.1),
    0px 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-color: #eaf8ef;
  height: 250px;
  width: 350px !important;
}

.card.border-success {
  height: 100px;
  text-align: center;
  border: 2px solid #009f83 !important;
}

.card.sled1 {
  background-image: url("../images/bg-card.png");
  background-size: cover;
  box-shadow: 15px 15px 15px 0px rgba(57, 56, 56, 0.1),
    0px 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

footer .footer {
  background-image: url("../images/bg-footer.png");
  background-size: cover;
}

.content-artikel {
  color: #1e1e1e !important;
}
/* 
.sled2 {
  width: 250px !important;
  height: 200px !important;
} */

.sled2 img {
  object-fit: cover;
}
